body {
    font-size: 16px;
    text-align: center;
}

h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
}

p {
    font-weight: 600;
    font-size: 3em;
}

ul {
    background-color: lightgreen;
    text-decoration: underline;
}

.cor-diferente {
    background-color: lightskyblue;
}

li {
    font-style: italic;
    line-height: 25px;
}

#amarelo {
    background-color: yellow;
}

#vermelho {
    background-color: red;
}

#marrom {
    background-color: brown;
}
